header {
    position: relative;
    width: 100%;
    min-height: auto;
    overflow-y: hidden;
    background: url(../img/splash-bg.png),#FF9800;
    background: url(../img/splash-bg.png),-webkit-linear-gradient(45deg,#FF9800,#2196F3);
    background: url(../img/splash-bg.png),linear-gradient(45deg,#FF9800,#2196F3);
    color: #fff;
}

.bg-secondary {
    color: #fff;
    background: #2196F3;
    background: -webkit-linear-gradient(#03A9F4,#2196F3);
    background: linear-gradient(#03A9F4,#2196F3);
}

.btn-outline.active, .btn-outline:active, .btn-outline:focus, .btn-outline:hover {
    color: #fff;
    background-color: #2196F3;
    border-color: #2196F3;
}