.login-content .has-error .input-group-addon {
  color: #f6675d;
  border-color: transparent;
  background-color: transparent;
}

tbody .checkbox.pull-left {
  margin: 0;
}

ul.help-block {
  padding-left: 10px;
}

.actions > li > a > i, .actions > a > i, .actions > li > a > i:hover, .actions > a > i:hover {
  color: white;
}

.actions > li > a, .actions > a {
  width: auto;
}
/*# sourceMappingURL=admin.css.map */
